<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selamat Datang</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_gizi.css') }}">
</head>
<body>
    <div class="container mt-5">
        <nav class="navigation">
            <a href="/">🏠 Kembali Ke Portofolio</a>
            <a href="/index_gizi">🏠 Beranda</a>
            <a href="/prediksi_gizi">📊 Prediksi Status Gizi Balita</a>
            <a href="/informasi_gizi">📊 Informasi Model KNN</a>
        </nav>
        <h1 class="mt-5">Selamat Datang di Sistem Klasifikasi Status Gizi Balita</h1>
        <p class="lead">Analisis data Gizi pada Balita menggunakan algoritma K-Nearest Neighboor.</p>
        
    </div>
</body>
</html>
